@page
@model LearnAutoMapper.Pages.CaseBModel
@{
    ViewData["Title"] = "Case B - Person is a superset of PersonDTO";
}

<h1>@ViewData["Title"]</h1>
<a href="casea">&lt;-- Previous</a>
|
<a href="casec">Next --&gt;</a>
<h3>Person has all properties in PersonDTO, has additional properties as well.</h3>
<div class="text-center">
    <h1 class="display-4">Person Entity Object</h1>
    <p>My name is @Model.MyEntity.Name</p>
    <p>I am @Model.MyEntity.Age years old. </p>
    <p>My hometown is @Model.MyEntity.Hometown</p>
    <h1 class="display-4">Person DTO Object</h1>
    <p>My name is @Model.MyDTO.Name</p>
    <p>I am @Model.MyDTO.Age years old. </p>
</div>
<a href="casea">&lt;-- Previous</a>
|
<a href="casec">Next --&gt;</a>
